@charset "UTF-8";

:root {
    --FontFamily-01: "Teachers", sans-serif;
    --FontFamily-02: "Poppins", sans-serif;
    --Web-Bg: #C1CFE7;

    --BodyBgLinear-01: #97a7cc;
    --BodyBgLinear-02: #9caccf;

    --CalcScrLinear-01: #c5d6f3;
    --CalcScrLinear-02: #dee5fa;

    --CalcBgLinear-01: #9db3d6;
    --CalcBgLinear-02: #bbcceb;

    --Symbols-color: var(--Bg-buttonEqual);
    --ButtonEqual-bg: #245DC7;
    --Buttons-bg: #e6ebfacc;
    --Number-color: #0C1320;
}

* {
    margin: 0;
    padding: 0;
    font-size: 62, 5%;
    border: none;
    box-sizing: border-box;
}

body {
    background: url('../images/blue-lines.png') no-repeat center center, linear-gradient(to bottom, var(--BodyBgLinear-01), var(--BodyBgLinear-02));
    background-size: cover;
    background-attachment: fixed;
    font-weight: 300;
    font-family: var(--FontFamily-02);
}

div.tittle {
    display: grid;
    justify-content: center;
    margin: 1rem 0rem 2rem 0rem;
}

.tittle h1 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: .6rem;
    background: var(--BodyBgLinear-01);
    box-shadow: 7px 7px 17px #7b8eb9, -7px -7px 17px #abc4ff93;
}

#calculatorApp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to top, var(--CalcBgLinear-01), var(--CalcBgLinear-02) 40%);
    font-family: var(--FontFamily-01);
    width: 14.5rem;
    max-width: 14.5rem;
    height: 30rem;

    padding-bottom: .5rem;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem -1rem #0000004d;
}

.calcScreen {
    position: relative;
    background-image: linear-gradient(to top, var(--CalcScrLinear-01), var(--CalcScrLinear-02));
    height: 11.5rem;
    border-radius: 1rem;
    padding: 0 1rem;
    width: 100%;
}

.centralizeScreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calcDisplayWrapper {
    width: 100%;
    background: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

#calcDisplay {
    font-size: 2rem;
    background: none;
    border-block: none;
    outline: none;
}

.overflowCount {
    position: absolute;
    top: 6.5rem;
    right: 0.5rem;
    font-size: .8rem;
    font-weight: 900;
    color: red;
    display: none;
}

.bottomDisplay {
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-top: .1rem solid var(--CalcScrLinear-02);
    justify-content: flex-end;
    align-items: center;
}

.deleteButton button {
    background: transparent;
}

.deleteButton img {
    width: 25px;
    height: 25px;
}

.deleteButton img:hover {
    cursor: pointer;
}

.calcButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.numberButton {
    background: var(--Buttons-bg);
    font-size: 1.2rem;
    font-weight: 500;
}

.mathSymbButton {
    background: var(--Buttons-bg);
    font-size: 1rem;
    font-weight: 500;
}

.resultButton {
    background: var(--ButtonEqual-bg);
    color: #fff;
}

.cleanButton {
    color: red;
    background: var(--Buttons-bg);
    font-size: 1.5rem;
    font-weight: 500;
}

.calcButtons button {
    font-family: var(--FontFamily-02);
    width: 2.9rem;
    height: 2.9rem;
    margin: .2rem;
    border-radius: .7rem;
}

div.calcButtons button:hover {
    filter: brightness(107%);
}